.DS_Store
.env
.empty

__MACOSX/
__pycache__/

wikipedia_en*/
wikipedia_processed.json

src/data/bizgen/output*

src/data/create_data/output/infographic/
src/data/create_data/output/narrator_format/

output/

*.zip
*.tar.gz
*.log

src/inference/results/*.json

src/data/bizgen/checkpoints
test*

convert_to_infographic.py
*.mdc
