.DS_Store
.env
.empty

__MACOSX/
__pycache__/

wikipedia_en*/
wikipedia_processed.json

src/data/bizgen/output*

output/

*.zip
*.tar.gz
*.log

src/inference/results/*.json

src/data/bizgen/checkpoints
test*

convert_to_infographic.py
*.mdc

bbox_visualizations/
dataset/

# Large training data files
squad_v2_train.jsonl
*.jsonl
wiki_val/

infographic*/
wiki*/